<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Log In"></Label>  
</ActionBar>
<FlexboxLayout class="page">
    <scrollView>
       <StackLayout margin="10"  class="form">
        <Image class="images" src="~/app/images/logo.png"></Image>
        <Label class="notes" text="Let's take some notes!"></Label>
      
        <StackLayout row="2" class="input-field">
            <textField class="input" hint="Email" keyboardType="email"></textField>
            <StackLayout class="hr-light"></StackLayout>
        </StackLayout>

        <StackLayout row="1" class="input-field">
            <textField class="input" hint="password" keyboardType="email"></textField>
            <StackLayout class="hr-light"></StackLayout>
        </StackLayout>    

        <button text="sign in" class="sign-btn"></button>
          
        <Label class="notesy" text="Don't have a account?"></Label>

        <button text="Register" class="Reg-btn"></button>

        <Label class="notes-acc" text="You can log in with"></Label>

        <button text="facebook" class="btn-fb"></button>

        <button text="googledd" class="btn-google"></button>
        <Label text="&#xf39e;" class="fab"></Label>
        </StackLayout>
    </scrollView> 
</FlexboxLayout>
 